/* Reset default margin and padding */
body, header, div {
    margin: 0;
    padding: 0;
}

/* Style for the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Change the color as needed */
    padding: 10px 20px; /* Adjust padding as needed */
}

/* Style for the home and recipe links */
#headerHome, #headerRecipe {
    color: white; /* Text color */
    font-size: 18px; /* Font size */
    cursor: pointer; /* Show pointer on hover */
    transition: color 0.3s; /* Smooth color transition on hover */
}

/* Change text color on hover */
#headerHome:hover, #headerRecipe:hover {
    color: lightgrey; /* Text color on hover */
}

/* Style for the header image */
#headerImg {
    width: 100px; /* Width of the image */
    height: 50px; /* Height of the image */
    background-size: cover; /* Cover the entire div with the image */
    background-image: url('../website files/img/R.png');
    z-index: 1;
}